.footerLogoLink {
  opacity: 0.7;
  transition: opacity 0.15s ease-in-out;
}

.footerLogoLink:hover {
  opacity: 1;
}

.footerContainer {
  display: flex;
  background-image: url("../../../static/img/background-2.png");
  background-color: #007cba;
  background-size: contain;
  justify-content: space-around;
}

.footerContainer2 {
  display: flex;
  justify-content: space-around;
  background-color: #005a87;
  color: white
}

.footerImage1 {
  width: 200px;
  height: 113px;
}
.footerText {
  width: 100%;
  color: white
}

.footerWrapper {
  display: grid;
  background-image: url("../../../static/img/background-2.png");
  background-color: #007cba;
  background-size: contain;
  justify-content: space-around;
  grid-template-columns: 20% 60%;
}

@media screen and (max-width: 900px) {
  .footerWrapper {
    grid-template-columns: 65%;
    background-repeat: no-repeat;
  }
}